<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234565571484-kqknr5kuao6ifeltieqk2sofol5a4qqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234565571484-kqknr5kuao6ifeltieqk2sofol5a4qqu</string>
	<key>API_KEY</key>
	<string>AIzaSyBqnXbQwrTxNwGEoWQyvT0WSiHCWRxL5FY</string>
	<key>GCM_SENDER_ID</key>
	<string>234565571484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Aiitone.SocialLoginCollection</string>
	<key>PROJECT_ID</key>
	<string>socialloginbundle</string>
	<key>STORAGE_BUCKET</key>
	<string>socialloginbundle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234565571484:ios:8df4c3800e6f414853ae59</string>
</dict>
</plist>